<input type="hidden" name="list[board_id]" value="<%= board.get("id") %>">
<input type="hidden" name="list[ord]" value="5">


<label>List Title:
  <br>
  <input type="text" name="list[title]">
</label>
<br>

<button type="sumbit">Create New List</button>
