/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #0079BF;
}

h1 {
  text-align: center;
  font-family: helvetica;
}

div#root {
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #0067A3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

div.container {
  width: 95%;
  position: relative;
  top: 50px;
  margin: 0 auto;
}

div.board {
  width: 20%;
  box-sizing: border-box;
  background-color: #FFF;
  border-radius: 5px;
  display: inline-block;
  float: left;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 2px 2px 2px;
}

div.board:hover {
  background-color: #EEE;
}

.lists {
  margin: 0 auto;
  width: 100%;
}

.list {
  width: 20%;
  box-sizing: border-box;
  background-color: #E2E4E6;
  border-radius: 5px;
  display: inline-block;
  float: left;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 2px 2px 2px;
}
